@page "/viewer"
@using System.Diagnostics
@layout EmptyLayout
@rendermode InteractiveServer
@inject Services.ChannelService _channelService

@code {
	/// <summary>
	/// The max video count to default to if no count is provided.
	/// </summary>
	private const int DefaultMaxVideoCount = 100;

	/// <summary>
	/// The injected JS runtime.
	/// </summary>
	[Inject]
	public required IJSRuntime _jsRuntime { get; set; }

	/// <summary>
	/// The supplied (untrimmed) channels list, as a comma-separated string.
	/// These are the channel names, as show up in the channels list, and not the IDs.
	/// </summary>
	[SupplyParameterFromQuery]
	[Parameter]
	public string? channels { get; set; }

	/// <summary>
	/// The requested max video count, as supplied in the query string, if provided.
	/// </summary>
	[SupplyParameterFromQuery]
	[Parameter]
	public int? count { get; set; }

	/// <summary>
	/// The number of rows to show, the total video players requested is rows * columns.
	/// </summary>
	[SupplyParameterFromQuery]
	[Parameter]
	public int? rows { get; set; }

	/// <summary>
	/// The number of columns to show, the total video players requested is rows * columns.
	/// </summary>
	[SupplyParameterFromQuery]
	[Parameter]
	public int? columns { get; set; }

	/// <summary>
	/// The trimmed channels list.
	/// </summary>
	private readonly List<string> _channelsList = new List<string>();

	/// <summary>
	/// Process set parameters to populate the channels list.
	/// </summary>
	protected override void OnParametersSet()
	{
		// Set default values.
		rows = rows ?? 1;
		columns = columns ?? 1;

		foreach (var channel in (channels ?? "").Split(","))
		{
			string trimmedChannel = channel.Trim();
			if (trimmedChannel.Length > 0)
			{
				_channelsList.Add(trimmedChannel);
			}
		}

		base.OnParametersSet();
	}

	/// <summary>
	/// After rendering is complete the first time, pass video list to page and initialise the video viewer.
	/// </summary>
	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			// Look up video IDs.
			var playlists = new List<IEnumerable<string>>();

			for (int i = 0; i < rows * columns; ++i)
			{
				playlists.Add(await _channelService.GetRandomVideos(_channelsList, RequestedVideoCount()));
			}

			// Initialise player.
			Console.WriteLine("Invoking createViewer");
			await _jsRuntime.InvokeVoidAsync("createViewer", rows, columns, playlists);
		}
	}

	private int RequestedVideoCount()
	{
		return count ?? DefaultMaxVideoCount;
	}

	private string FormatChannelsList()
	{
		if (_channelsList.Count == 0)
		{
			return "All channels";
		}
		else
		{
			return string.Join(", ", _channelsList);
		}
	}

	public string FlexBasis()
	{
		int totalVideos = rows.Value * columns.Value;
		return Math.Floor(100.0f / (float)rows) + "%";
    }
}

<PageTitle>Video Viewer for @FormatChannelsList() (@RequestedVideoCount()) [@rows x @columns]</PageTitle>

<div id="player-container"></div>

<script>
	var _players = [];
	var _columns = 1;
	var _rows = 1;
	var _videoPlaylists;

	function createViewer(rows, columns, videoPlaylists) {
		_columns = columns;
		_rows = rows;
        _videoPlaylists = videoPlaylists;

		// Specify default video ID to use if no playlists are provided.
		if (_videoPlaylists == null || _videoPlaylists.length == 0) {
			_videoPlaylists = [['SHvhps47Lmc']];
		}

		// Create player containers.
        const container = document.getElementById('player-container');
		for (let i = 1; i <= _columns * _rows; ++i) {
			const playerDiv = document.createElement('div');
			playerDiv.id = `player${i}`;
			container.appendChild(playerDiv);
        }

		// Load in the iframe player API code asynhcronously.
		let tag = document.createElement("script");
		tag.src = "https://www.youtube.com/iframe_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
	}

	function onYouTubeIframeAPIReady() {
		const playerCount = _rows * _columns;
		console.log(`Creating ${playerCount} youtube players`);

		for (let i = 0; i < playerCount; ++i) {
            _players.push(new YT.Player(`player${i+1}`, {
				width: '',
				height: '',
                videoId: _videoPlaylists[i][0],
                playerVars: {
                    'playsinline': 1
                },
                events: {
                    'onReady': onPlayerReady,
                    'onStateChange': onPlayerStateChange
                },

				// Our own custom playerIndex property, which we use to load the right playlist below.
				playerIndex: i,
            }));
        }
	}

	function onPlayerReady(event) {
		const player = eventtarget;
		const playerIndex = player.options.playerIndex;

		console.log(`Player ${playerIndex} ready, loading playlist and playing video`);
		player.mute();
		player.loadPlaylist(_videoPlaylists[playerIndex].join(','));
		player.playVideo();
	}

	function onPlayerStateChange(event) {
		console.log('On player state change:');
		console.log(event);
	}
</script>

<style>
	html, body {
		width: 100%;
		height: 100%;
		background: black;
		overflow: hidden;
	}

	#player-container {
		width: 100%;
		height: 100%;
		display: flex;
		flex-wrap: wrap;
	}

	#player-container > iframe {
		flex-grow: 1;
		flex-basis: @FlexBasis();
	}
</style>
